@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Needed for DaisyUI Sidebar Drawer debug */
html:has(.drawer-toggle:checked) {
  scrollbar-gutter: auto;
}
